<form class="main-search">
  <mat-form-field class="search-container">
    <input type="text" class="form-control search-input" placeholder="" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" mat-dropdown-position="bottom">
        <!--<img style="vertical-align:middle;" aria-hidden src="/assets/{{option.name}}.jpg" height="50" />-->
        <span (click)="hostClicked(option)">
            {{ option.plateNumber }}
          </span>
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="color:grey;"></span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-icon-button class = "search-btn">
    <i class="material-icons">search</i>
  </button>
</form>
