#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
  text-align: center;
  color: #BDBDBD;
  font-size: 12px !important;
}

.footer-btn {

}
.footer-btn:hover {
  color: #9E9E9E;
}
