#footer {
  display: none;
}

.footer-btn {

}
.footer-btn:hover {
  color: #9E9E9E;
}

.footer-btn span {
  font-weight: 400 !important;;
  font-size: 13px !important;
}


@media screen and (min-width: 480px) and (min-height: 480px) {
  #footer {
    display: block;
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    text-align: center;
    color: #BDBDBD;
    z-index: -1;
  }
}

#footer a {
  color: #BDBDBD !important;
}
