<div>
  <mat-card class="example-card">
    <div class="total-header">
      <mat-card-header>
        <button mat-icon-button class = "back-btn" color="link">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button class = "cad-options dp36 float-right" [matMenuTriggerFor]="option">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #option="matMenu">
          <button mat-menu-item>
            <mat-icon>report</mat-icon>
            <span>Report</span>
          </button>
        </mat-menu>
      </mat-card-header>
      <mat-card-content>
        <div class ="plate-holder">
          <span class = "title">MK-VB-13</span>
        </div>
        <mat-card-subtitle>Andrew Garfield</mat-card-subtitle>
        <p class = "info">
          Please contact me by
        </p>
      </mat-card-content>
    </div>
    <mat-card-actions class="card-footer">
      <button mat-raised-button color="primary"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i> Whatsapp</button>
      <!--<br/><br/>-->
      <!--<button mat-raised-button color="secondary"><i class="fa fa-slack fa-2x" aria-hidden="true"></i> Slack</button>-->
      <!--<button mat-raised-button color="secondary"><i class="fa fa-phone fa-2x" aria-hidden="true"></i> Call</button>-->
    </mat-card-actions>
  </mat-card>
</div>
