<div class="main-body">
  <div class="raw search-card-container">
    <div>
      <mat-card class="example-card">
        <div class="total-header">
          <mat-card-header>
            <button mat-icon-button class = "back-btn color-btn float-left">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button class = "cad-options dp36 float-right color-btn" [matMenuTriggerFor]="option">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #option="matMenu" color="link">
              <button mat-menu-item>
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span>Edit</span>
              </button>
            </mat-menu>
          </mat-card-header>
          <mat-card-content>
            <div class="plate-holder">
              <span class="title">MK-VB-13</span>
            </div>
            <mat-card-subtitle>{{carOwner?.name}}</mat-card-subtitle>
            <p class="info">
              <span>Please contact me by</span>
            </p>
          </mat-card-content>
        </div>
        <mat-card-actions class="card-footer">
          <button mat-raised-button color="primary"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i> Whatsapp</button>
          <button mat-raised-button color="secondary" [matMenuTriggerFor]="othercontacts" color="link"><i class="material-icons">expand_more</i>Other</button>
          <mat-menu #othercontacts="matMenu">

            <ng-container *ngFor="let contact of (carOwner?.contact)">
              <button class="menu-btn" mat-menu-item (click)="addContactField(contact)">
                <i class="fa fa-{{contact.icon}}" aria-hidden="true"></i>
                <span>{{contact.name}}</span>
              </button>
            </ng-container>
          </mat-menu>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
